myDataTeacher/teacher2/depthQ/depthS/test.txt
myDataTeacher/teacher3/depthQ/depthS/test.txt
myDataTeacher/teacher4/depthQ/depthS/test.txt
myDataTeacher/teacher5/depthQ/depthS/test.txt
myDataTeacher/bteacher1/depthQ/depthS/test.txt
myDataTeacher/bteacher2/depthQ/depthS/test.txt
myDataTeacher/bteacher3/depthQ/depthS/test.txt
myData1/depthQ/depthS/test.txt

myDataTeacher/teacher2/depthQ/depthS/test
myDataTeacher/teacher3/depthQ/depthS/test
myDataTeacher/teacher4/depthQ/depthS/test
myDataTeacher/teacher5/depthQ/depthS/test
myDataTeacher/bteacher1/depthQ/depthS/test
myDataTeacher/bteacher2/depthQ/depthS/test
myDataTeacher/bteacher3/depthQ/depthS/test
myData1/depthQ/depthS/test